@model Produto

@{
    ViewData["Title"] = "CadastroModel";
}

<h1>Cadastro de Produtos (versão 2 - view fortemente tipada)</h1>

@using(Html.BeginForm())
{
    <div class="margem">
        <div class="mb-3">
            @Html.LabelFor(p => p.Codigo, new { @class= "form-label"})
            @Html.TextBoxFor(p => p.Codigo, null , new { @class="form-control"})
            @Html.ValidationMessageFor(p => p.Codigo,"", new{ @class="text-danger"})
        </div>

        <div class="mb-3">
            @Html.LabelFor(p => p.Descricao, new { @class= "form-label"})
            @Html.TextBoxFor(p => p.Descricao, null , new { @class="form-control"})
            @Html.ValidationMessageFor(p => p.Descricao,"", new{ @class="text-danger"})

        </div>

        <div class="mb-3">
            @Html.LabelFor(p => p.Preco, new { @class= "form-label"})
            @Html.TextBoxFor(p => p.Preco, null , new { @class="form-control"})
            @Html.ValidationMessageFor(p => p.Preco,"", new{ @class="text-danger"})
        </div>


        <div class="mb-3">
           <button class="btn btn-success" type="submit">Enviar</button>
        </div>



    </div>
}

